---
export type Props = {
  cost?: string;
  area?: string;
  building?: string;
  tags?: string[];
};
const { cost, area, building, tags } = Astro.props;
---

<table class="page_top_spec">
  {
    cost && (
      <tr>
        <th>費用</th>
        <td>{cost}</td>
      </tr>
    )
  }
  {
    area && (
      <tr>
        <th>面積</th>
        <td>{area}</td>
      </tr>
    )
  }
  {
    building && (
      <tr>
        <th>建物</th>
        <td>{building}</td>
      </tr>
    )
  }
  {
    tags && (
      <tr>
        <th>タグ</th>
        <td>
          <ul class="tag">
            {tags.map((tag) => (
              <li>{tag}</li>
            ))}
          </ul>
        </td>
      </tr>
    )
  }
</table>
<style lang="scss">
  table {
    max-width: 1265px;
    @media screen and (max-width: 1300px) {
      max-width: 95%;
    }
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  th {
    width: 5em;
    height: 67px;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
    line-height: 1em;
    padding: 12px 20px;
    border: solid 1px #000;
  }
  .tag {
    position: relative;
    top: -0.25em;
  }
</style>
