@use 'sass:math';
$isMoble: false;
$baseFontSize: 16px;
$baseWindowWidth: 1920px; //画面の幅
$designLineWidth: 1676px; //デザインラインの幅
$baseContentWidth: 1168px; //コンテンツ幅
$mobileBreakPoint: 768px; //モバイルブレイクポイント
$mobileDesignWidth: 375px; //モバイルデザインの幅
$mobileContentWidth: 320px; //モバイルコンテンツ幅
$h1: 4.8rem;
$h2: 3.2rem;
$h3: 2.4rem;
$h4: 2rem;
$fontBase: Yu Gothic, sans-serif;
$boxShadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);

@mixin absolute-center($top: 0, $left: 0, $right: 0, $bottom: 0) {
  position: absolute;
  margin: auto;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@function rem($pixels) {
  @return math.div($pixels , $baseFontSize) * 1rem;
}

@function vw($pixels, $baseWidth :$mobileDesignWidth) {
  @return math.div($pixels , $baseWidth ) * 100vw;
}

@function percent($pixels, $baseWidth) {
  @return math.div($pixels , $baseWidth ) * 100%;
}