---
import { Image } from "@astrojs/image/components";
import { PAGES } from "~/consts";
import type { PageKey } from "~/consts";

export type Props = {
  page: PageKey;
};
const { page } = Astro.props;
---

<div class="page_catch">
  <Image
    src={PAGES[page].catchImage}
    alt={PAGES[page].title}
    class="catch_image"
    format="webp"
    loading={"eager"}
  />
  <h1 class="page_title">{PAGES[page].title}</h1>
</div>

<style lang="scss">
  .page_catch {
    position: relative;
    text-align: center;
  }
  .catch_image {
    vertical-align: middle;
  }
  .page_title {
    max-width: $designLineWidth;
    position: absolute;
    padding-left: 84px;
    color: #fff;
    top: 0;
    bottom: 0;
    font-weight: bold;
    margin: auto;
    height: 50px;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .page_title {
      padding-left: vw(30px);
      height: auto;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }
</style>
