---
import { Image } from "@astrojs/image/components";
import { PAGES } from "~/consts";
import type { PageKey } from "~/consts";

export type Props = {
  page: PageKey;
};
const { page } = Astro.props;
---

<div class="page_catch">
  <Image
    src={PAGES[page].catchImage}
    alt={PAGES[page].title}
    class="catch-image"
    format="webp"
    loading={"eager"}
  />
  <h1 class="page_title">{PAGES[page].title}</h1>
</div>

<style lang="scss">
  .page_catch {
    position: relative;
    text-align: center;
  }
  .page_title {
    color: #fff;
    font-weight: bold;
    margin-top: 78px;
    font-size: 19px;
  }
</style>
