---
import PageCatch from "~/components/catch/PageCatch.astro";
import { PAGES } from "~/consts";
import PageContent from "~/layouts/PageContent.astro";
const { className } = PAGES.CONSULT;
import PageCopy from "~/components/common/PageCopy.astro";
import BreadCrumb from "~/components/common/BreadCrumb.astro";
import InquiryMore from "~/components/common/InquiryMore.astro";
import ExpartImage from "~/img/consult/consult_expert.png";
import { Image } from "astro:assets";
---

<PageContent class={className}>
  <PageCatch page={"CONSULT"} />
  <BreadCrumb page={"CONSULT"} pageTitle="家のコト相談窓口" />
  <PageCopy title="くらしの専門家が、あなたの「家のコト」、解決します">
    イエノコトでは、どこに、どこから相談したらいいか分からない、<br />
    相続、遺言、家族信託、財産管理、お墓、土地などの家のコトの<br />
    無料相談会を毎月開催しています。<br />
    こんなこと聞いてもいいのかな？と思うどんな些細なことでも、<br />
    一人で悩まず、まずはお気軽にご相談ください。<br />
    私たちが、力になります。
  </PageCopy>
  <section class="consult_list">
    <h2 class="consult_list_title">こんなお悩み、ありませんか？</h2>
    <dl class="consult_list_content">
      <dt>家族信託のコト</dt>
      <dd>「信託」って聞くけど、どういう意味なのかしら？</dd>
      <dt>謄本のコト</dt>
      <dd>「信託」って聞くけど、どういう意味なのかしら？</dd>
      <dt>実家のコト</dt>
      <dd>親が高齢になって、今のうちにやっておくべきことって何かしら？</dd>
      <dt>遺言・相続のコト</dt>
      <dd>家族がもめないために私が準備しておくことってあるのかしら？</dd>
    </dl>
  </section>
  <section class="consult_expert">
    <h2 class="consult_expert_title">専門相談員</h2>
    <p class="consult_expert_text">
      1級家事セラピスト、宅建士、ファイナンシャルプランナー、葬祭カウンセラー、増改築相談員、古民家鑑定士等、お悩みに応じた専門家が対応します。また、お悩みを伺い必要であれば司法書士や弁護士等へお繋ぎいたします。
    </p>
    <div class="consult_expert_content">
      <Image
        src={ExpartImage}
        width={482}
        height={320}
        alt="専門相談員"
        format="webp"
        loading="lazy"
      />
    </div>
  </section>
  <section class="consult_detail">
    <h2 class="consult_detail_title">相談方法</h2>
    <p class="consult_detail_content">
      【開催日時】<br />随時（お申し込み時にお伝えください）<br />
      ※定期開催の相談会は、講座・イベント詳細から確認ください。 <br /><br />
      【開催場所】<br
      />イエノコトモデルハウス又はお電話、zoomや、ご希望により現場まで伺います。お申し込み時にお伝えください。<br
      /><br />
      【予約方法】<br />①お電話：0120-200-789までお電話ください。<br />
      ②お申し込みフォーム：<a href="https://forms.gle/fcDpsKZoDZfp8tKu6
"
        >こちら</a
      >からお申し込みください。
      <br />
    </p>
  </section>
  <section class="inquiry_more">
    <h2 class="inquiry_more_title">まずはお気軽にお問い合わせください</h2>
    <InquiryMore />
  </section>
</PageContent>
<style lang="scss">
  .consult_list {
    margin-top: 188px;
  }
  .consult_list_title {
    text-align: center;
    margin-bottom: 124px;
  }
  .consult_list_content {
    max-width: 600px;
    padding-left: 70px;
    margin-left: auto;
    margin-right: auto;
    dt {
      font-weight: bold;
      margin-bottom: 25px;
      line-height: 1;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 27px;
        height: 27px;
        background: url("./icon_check.svg") no-repeat center center/cover;
        left: -44px;
        top: -39%;
      }
    }
    dd {
      line-height: 1.875;
      + dt {
        margin-top: 39px;
      }
    }
  }
  .consult_expert {
    margin-top: 188px;
  }
  .consult_expert_title {
    margin-bottom: 119px;
  }
  .consult_expert_text {
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 85px;
    line-height: 1.875;
  }
  .consult_expert_content {
    display: flex;
    justify-content: center;
    max-width: 600px;
    column-gap: 91px;
    margin-right: auto;
    margin-left: auto;
  }
  .consult_detail {
    margin-top: 188px;
    max-width: 466px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 188px;
  }
  .consult_detail_title {
    margin-bottom: 68px;
    text-align: center;
  }
  .consult_detail_content {
    a {
      text-decoration: underline;
    }
    line-height: 2.5;
  }
  .inquiry_more {
    margin-bottom: 267px;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .consult_list {
      margin-top: vw(100px);
    }
    .consult_list_title {
      margin-bottom: vw(63px);
    }
    .consult_list_content {
      max-width: vw(calc($mobileDesignWidth - 44px * 2));
      padding-left: vw(48px);
      dt {
        margin-bottom: vw(22px);
        &:before {
          width: vw(27px);
          height: vw(27px);
          left: vw(-44px);
        }
      }
      dd {
        + dt {
          margin-top: vw(45px);
        }
      }
    }
    .consult_expert {
      margin-top: vw(107px);
    }
    .consult_expert_title {
      margin-bottom: vw(63px);
    }
    .consult_expert_text {
      max-width: vw(286px);
      margin-bottom: vw(42px);
    }

    .consult_expert_content {
      max-width: vw(313px);
    }
    .consult_detail {
      padding: 0 vw(38px);
      margin: vw(102px) auto vw(102px);
    }
    .consult_detail_title {
      margin-bottom: vw(60px);
    }
    .inquiry_more {
      margin-bottom: vw(100px);
    }
    .inquiry_more_title {
      margin-bottom: vw(34px);
    }
  }
</style>
