---
import TopCatch from "~/components/catch/TopCatch.astro";
import SNSList from "~/components/global/SNSList.astro";
import PageContent from "~/layouts/PageContent.astro";

import TopNavi from "~/components/home/TopNavi.astro";
import NewsList from "~/components/post/NewsList.astro";
import EventList from "~/components/post/EventList.astro";
import ColumnList from "~/components/post/ColumnList.astro";
import { PAGES } from "~/consts";

const { className } = PAGES.HOME;
---

<PageContent class={className}>
  <TopCatch />
  <p class="main_copy">
    九月二十九日は中秋の名月です。 <br />

    月の読み方はたくさんあり <br />

    日本語の豊かさを感じます。 <br />

    「月々に月見る月は多けれど　月見る月はこの月の月」
    <!-- イエノコトは太宰府市通古賀にある工務店。 <br />
    いくら素敵な家を建てても、<br />
    暮らしが整っていなくて、毎日イライラ<br />
    していたらなんだか幸せじゃない。 -->
    <strong>「家創りは、暮らし創り」</strong>
    そんな想いを持つ女性が集まって生まれた<br />イエノコトだからできるコト。
  </p>
  <TopNavi />
  <NewsList />
  <EventList />
  <ColumnList />
  <h3 class="sns_list_title">Follow us</h3>
  <SNSList />
</PageContent>
<style lang="scss">
  .main_copy {
    margin-top: 243px;
    text-align: center;
    line-height: 3.75;
    margin-bottom: 241px;
    strong {
      display: block;
      font-size: 24px;
    }
    @media screen and (max-width: $mobileBreakPoint) {
      margin: vw(75px) 0;
      line-height: calc(30 / 16);
      strong {
        font-size: vw(18px);
        padding-top: vw(48px);
        padding-bottom: vw(46px);
      }
    }
  }
  .sns_list_title {
    margin-bottom: 110px;
    @media screen and (max-width: $mobileBreakPoint) {
      margin-bottom: vw(45px);
    }
  }
  .home {
    :global(.top_nav) {
      margin-bottom: 252px;
    }
    :global(.news_list) {
      margin-bottom: 252px;
    }
    :global(.event_list) {
      margin-bottom: 252px;
    }
    :global(.column_list) {
      margin-bottom: 252px;
    }
    :global(.sns_list) {
      display: block;
      margin-bottom: 249px;
    }
    @media screen and (max-width: $mobileBreakPoint) {
      :global(.top_nav) {
        margin-bottom: vw(102px);
      }
      :global(.news_list) {
        margin-bottom: vw(102px);
      }
      :global(.event_list) {
        margin-bottom: vw(105px);
      }
      :global(.column_list) {
        margin-bottom: vw(92px);
      }
      :global(.sns_list) {
        margin-bottom: vw(100px);
      }
    }
  }
</style>
