---
import PageCatch from "~/components/catch/PageCatch.astro";
import { PAGES } from "~/consts";
import PageContent from "~/layouts/PageContent.astro";
const { className } = PAGES.REFORM;
import PageCopy from "~/components/common/PageCopy.astro";
import BreadCrumb from "~/components/common/BreadCrumb.astro";
import StoriesList from "~/components/reform/StoriesList.astro";
import ReformCaseList from "~/components/post/ReformCaseList.astro";
import AboutReform from "~/components/reform/AboutReform.astro";
import InquiryMore from "~/components/common/InquiryMore.astro";
---

<PageContent class={className}>
  <PageCatch page={"REFORM"} />
  <BreadCrumb page={"REFORM"} />
  <PageCopy title="この家で、これからも、いつまでも">
    せわしない平日の朝支度、些細なことから喧嘩したこと・・・<br />
    家族との色んな思い出が詰まったわが家。<br />
    月日が過ぎて、子どもたちは巣立ち、夫婦ふたりの暮らし。<br />
    家族と一緒に過ごしてきたこの家も、年を取った。<br />
    これから自分たちの時間をより豊かにするための住まいをつくり、<br />
    毎日を楽しく過ごすために イエノコトは寄り添います。
  </PageCopy>
  <StoriesList />
  <h2 class="reform_case_title">過去の施工事例はこちら</h2>
  <ReformCaseList />
  <h2 class="about_title">イエノコトの家づくりとは</h2>
  <AboutReform />
  <InquiryMore />
</PageContent>
<style lang="scss">
  .about_title {
    margin-top: 273px;
    margin-bottom: 146px;
  }
  .reform_case_title {
    margin-top: 273px;
    margin-bottom: 119px;
  }
  .reform :global(.inquiry_more) {
    column-gap: 174px;
  }
  .reform :global(.more_link) {
    padding-bottom: 404px;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .about_title {
      margin: vw(100px) 0 vw(45px);
    }
    .reform_case_title {
      margin: vw(100px) 0 vw(43px);
    }
    .reform :global(.more_link) {
      padding-bottom: 0;
    }
  }
</style>
