---
---

<div class="inquiry_more">
  <a class="more_link" href="tel:0120-200-789"
    >＞お電話で相談してみる（10時～17時）</a
  >
  <a class="more_link" href="/siryo">＞メールで相談してみる</a>
</div>
<style>
  .inquiry_more {
    display: flex;
    justify-content: center;
    column-gap: 68px;
    padding-left: 50px;
  }
  .more_link {
    display: inline-block;
    font-weight: bold;
    margin-top: 167px;
  }
</style>
