---
import { Image } from "astro:assets";
import useWPApi, {
  type WP_REST_API_Post_With_FeatureImage,
} from "~/hooks/useWPApi";
import dayjs from "dayjs";
import ja from "dayjs/locale/ja";
dayjs.locale(ja);
const { fetchPosts } = useWPApi();
const ids = [6069, 5075, 5096, 4146, 5148];
const CasePosts = await fetchPosts<WP_REST_API_Post_With_FeatureImage[]>(
  "case",
  { per_page: 5, include: ids.join(",") },
  true
);
const ReformStoryPosts = await fetchPosts<WP_REST_API_Post_With_FeatureImage[]>(
  "reform_story",
  { per_page: 100, offset: 3 },
  true
);
if (!CasePosts) return;
if (!ReformStoryPosts) return;
---

{
  [ReformStoryPosts, CasePosts].map((Posts, i) => (
  <section class={`reform_list swiper-${i}`}>
  <ul class="swiper-wrapper">
    {
      Posts.map((post) => (
        <li class="swiper-slide">
          <a href={post.link}>
            {post["wp:featuredmedia"] && 
            <Image
              src={
                post["wp:featuredmedia"][0].media_details["sizes"]
                  .past_case_thumbnail.source_url
              }
              width={234}
              height={227}
              format="webp"
              loading={"lazy"}
              alt={post.title.rendered}
            />}
          </a>
        </li>
      ))
    }
  </ul>
</section>

  ))
}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
></script>
<script is:inline>
  const breakPoint = 768;
  if (window.innerWidth <= breakPoint) {
    swiper1 = new Swiper(".swiper-1", {
      slidesPerView: 4.4,
      loop: true,
    });
    swiper2 = new Swiper(".swiper-2", {
      slidesPerView: 4.4,
      loop: true,
    });
  } else {
    swiper1 = undefined;
    swiper2 = undefined;
  }
</script>
<style lang="scss">
  .reform_list {
    max-width: 1383px;
    margin-left: auto;
    margin-right: auto;
    + .reform_list {
      margin-top: 119px;
    }
  }
  ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 53px;
    li {
      &.swiper-slide {
        @media screen and (min-width: $mobileBreakPoint + 1px) {
          flex-shrink: initial;
          width: auto;
          height: auto;
        }
      }
    }
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .reform_list {
      &.swiper {
        // width: vw($mobileDesignWidth - 37 * 2);
      }
      + .reform_list {
      margin-top: vw(80px);// - TODO 要確認
      }
    }
    ul {
      &.swiper-wrapper {
        justify-content: normal;
        column-gap: vw(21px);
      }
    }
    img {
      width: vw(86px);
    }
  }
</style>
