---
import { Image } from "astro:assets";
import useWPApi, {
  type WP_REST_API_Post_With_FeatureImage,
} from "~/hooks/useWPApi";
import dayjs from "dayjs";
import ja from "dayjs/locale/ja";
dayjs.locale(ja);
const { fetchPosts } = useWPApi();
const ids = [6069, 5075, 5096, 4146, 5148];
const CasePosts = await fetchPosts<WP_REST_API_Post_With_FeatureImage[]>(
  "case",
  { per_page: 5, include: ids.join(",") },
  true
);
const ReformStoryPosts = await fetchPosts<WP_REST_API_Post_With_FeatureImage[]>(
  "reform_story",
  { per_page: 10, offset: 3 },
  true
);
if (!CasePosts) return;
if (!ReformStoryPosts) return;

// 10件のリフォーム事例を５件ずつ表示するため分割
const ReformUpper = ReformStoryPosts.slice(0, 5);
const ReformLower = ReformStoryPosts.slice(5, 10);
---

{
  [ReformUpper, ReformLower, CasePosts].map((Posts) => (
  <section class={`reform_list`}>
  <ul >
    {
      Posts.map((post) => (
        <li>
          <a href={post.type==="case"?post.link:`/reform/${post.id}`}>
            {post["wp:featuredmedia"] && 
            post["wp:featuredmedia"][0]?.source_url
            && 
            <Image
              src={
                post["wp:featuredmedia"][0]?.source_url
              }
              width={234}
              height={227}
              format="webp"
              loading={"lazy"}
              alt={post.title.rendered}
            />}
          </a>
        </li>
      ))
    }
  </ul>
</section>

  ))
}
<a href=`${Astro.site}case/` class="more">＞＞もっと見る</a>
<style lang="scss">
  .reform_list {
    max-width: 1383px;
    margin-left: auto;
    margin-right: auto;
    + .reform_list {
      margin-top: 119px;
    }
  }
  ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 53px;
  }
  .more {
    text-align: right;
    display: block;
    margin-top: 60px;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    .reform_list {
      + .reform_list {
      margin-top: vw(45px);// - TODO 要確認
      }
    }
    ul {
      column-gap: vw(21px);
      row-gap: vw(45px);
      flex-wrap: wrap;
      justify-content: center;
      max-width: vw(313px);
    }
    li {
      width: vw(85px);
      height: vw(85px);
    }
    img {
      width: vw(86px);
    }
    .more {
      text-align: center;
      margin-top: vw(27px);
    }
  }
</style>
