---
import "reset-css";
import "../styles/global.scss";
import Navi from "~/components/global/Navi.astro";
import Head from "~/components/global/Head.astro";
import Footer from "~/components/global/Footer.astro";
import ContentBanner from "~/components/common/ContentBanner.astro";
import AboutModelHouse from "~/components/common/AboutModelHouse.astro";
const { class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <Head />
  <script src="../scripts/global.ts"></script>
  <body class={className}>
    <header id="head">
      <Navi />
    </header>
    <slot />
    <AboutModelHouse />
    <ContentBanner />
    <Footer />
    <style lang="scss" is:global>
      .content-banner {
        margin-top: 162px;
      }
      footer {
        margin-top: 169px;
      }
    </style>
  </body>
</html>
