---
import "reset-css";
import "../styles/global.scss";
import Navi from "~/components/global/Navi.astro";
import Head from "~/components/global/Head.astro";
import Footer from "~/components/global/Footer.astro";
import ContentBanner from "~/components/common/ContentBanner.astro";
import AboutModelHouse from "~/components/common/AboutModelHouse.astro";

export type Props = {
  class: string;
};
const { class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <Head />
  <script src="../scripts/global.ts"></script>
  <body>
    <header id="head">
      <Navi />
    </header>
    <main class={className}>
      <slot />
    </main>
    <AboutModelHouse />
    <ContentBanner />
    <Footer />
    <style lang="scss" is:global>
      .content-banner {
        margin-top: 162px;
      }
      footer {
        margin-top: 169px;
      }
      @media screen and (max-width: $mobileBreakPoint) {
        footer {
          margin-top: vw(80px);
        }
      }
    </style>
  </body>
</html>
