---
import { Image } from "@astrojs/image/components";
import Facebook from "~/img/sns_facebook.png";
import Instagram from "~/img/sns_instagram.png";
import Line from "~/img/sns_line.png";
import Youtube from "~/img/sns_youtube.png";
---

<nav class="sns_list">
  <ul>
    <li>
      <a href="https://www.instagram.com/ienokoto_no_ie/">
        <Image width={31} height={31} src={Instagram} alt="Instagram" />
      </a>
    </li>
    <li>
      <a href="https://page.line.me/234qzcdl/">
        <Image width={31} height={31} src={Line} alt="Line" />
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/@user-lx1vd6ev3t/">
        <Image width={30} height={22} src={Youtube} alt="Youtube" />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/ienokoto/">
        <Image width={28} height={28} src={Facebook} alt="Facebook" />
      </a>
    </li>
  </ul>
</nav>
<style lang="scss">
  .sns_list {
    ul {
      margin: auto;
      width: 298px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        vertical-align: middle;
      }
    }
  }
</style>
